@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
     margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
 background-size: auto 100%;
 background-position: center;
 background-repeat: no-repeat;
 height: 80vh;
 border-radius: 50px;
 color: #fff;
 cursor: pointer;
 flex: 0.5;
 margin: 10px;
 position: relative;
 transition:flex 0.7s ease-in ;
 
}
.panelh3{
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 2;

}
.panel.active{
    flex: 5;
    
}
.panel.active h3{
    opacity: 1;
    transition:opacity o.5s ease-in o.4s ;
    -webkit-transition:opacity o.5s ease-in o.4s ;
    -moz-transition:opacity o.5s ease-in o.4s ;
    -ms-transition:opacity o.5s ease-in o.4s ;
    -o-transition:opacity o.5s ease-in o.4s ;
}
@media(max-width:480px){
    .container{
        width: 100vw;

    }
    .panel:nth-0f-type(4),
    .panel:nth-0f-type(5){
     display:none;
    }
}